body {
  font-family: "Aachen";
  color: #fff;
  background-color: #1d1d23;
}

.navbar {
  margin-bottom: 50px;
}

.nav-right {
  padding-right: 36px;
}

.nav-item {
  margin: 4px 31px 0 0;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #e58f00;
}

.active {
  color: #e58f00;
}

.hero {
  background-image: url("../image/background/hero-background.jpg");
  background-size: cover;
  padding-bottom: 127px;
}

.hero::before {
  content: '';
  background-color: rgba(40, 40, 45, 0.95);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.hero-img {
  left: -37px;
  bottom: -3px;
}

.hero-caption {
  padding-left: 12px;
}

.haro-title {
  font-size: 67px;
  color: #e58f00;
  margin-bottom: 19px;
}

.hero-paragraph {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 31px;
}

.btn-hero {
  color: #000;
  background-color: #e58f00;
  font-size: 24px;
  padding: 16px 40px;
}

.aboutUs {
  margin: 120px 0 76px 0;
}

.aboutUs-title {
  font-size: 49px;
}

.aboutUs-paragraph {
  font-size: 32px;
  line-height: 40px;
}

.foodQuality {
  margin-bottom: 177px;
}

.foodQuality-img-background {
  margin-top: 128px;
}

.foodQuality-caption {
  top: 0;
  left: 50px;
}

.foodQuality-img-1 {
  top: 0;
  right: 0;
  width: 29.8%;
}

.foodQuality-img-2 {
  bottom: 39px;
  left: 0;
  width: 36%;
}

.foodQuality-img-3 {
  bottom: -3px;
  right: 0;
  width: 60.5%;
}

.foodQuality-caption {
  top: 26.9%;
  padding-left: 31px;
}

.foodQuality-title {
  font-size: 38px;
}

.foodQuality-paragraph {
  margin-top: 20px;
  font-size: 28px;
  line-height: 28px;
}

.gallery {
  margin-bottom: 130px;
}

.gallery-title {
  font-size: 48px;
  margin-bottom: 95px;
}

.ourFood {
  background-image: url("../image/background/ourFood-background.png");
  background-size: cover;
  padding: 193px 0;
  margin-bottom: 169px;
}

.ourFood-caption {
  padding: 70px 70px 107px;
  border: 10px solid #e58f00;
  background-color: rgba(40, 40, 45, 0.95);
}

.ourFood-title {
  font-size: 49px;
  margin-bottom: 23px;
}

.ourFood-paragraph {
  font-size: 32px;
  line-height: 40px;
}

.menu {
  margin-bottom: 136px;
}

.menu-title {
  font-size: 50px;
  margin-bottom: 79px;
}

.card-img {
  margin-bottom: 45px;
}

.card-title {
  font-size: 29px;
  color: #e58f00;
  margin-bottom: 14px;
}

.card-paragraph {
  line-height: 21px;
  margin-bottom: 41px;
}

.card-price {
  font-size: 24px;
  color: #e58f00;
}

.bestMeal {
  background-color: #e58f00;
  margin-bottom: 80px;
}

.bestMeal-img {
  top: -70px;
  left: 0;
}

.bestMeal-caption {
  padding: 70px 0 70px 40px;
}

.bestMeal-title {
  font-size: 50px;
  margin-bottom: 22px;
}

.bestMeal-paragraph {
  font-size: 34px;
  line-height: 40px;
}

.footer {
  margin-bottom: 106px;
}

.footer-img {
  margin-bottom: 42px;
}

.nav-footer {
  font-family: "Montserrat";
  font-size: 20px;
  margin-bottom: 32px;
}

.signature {
  font-family: "Montserrat";
}

.freepik {
  font-family: "Montserrat";
  color: #fff;
}

.freepik:hover {
  color: #e58f00;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
  .navbar {
    margin-bottom: 85px;
  }
  .nav-item {
    margin-right: 51px;
  }
  .aboutUs-caption {
    margin-top: 115px;
  }
  .foodQuality-title {
    font-size: 48px;
    margin-bottom: 24px;
  }
  .foodQuality-paragraph {
    font-size: 33px;
    line-height: 40px;
  }
  .bestMeal-img {
    top: -66px;
  }
  .bestMeal-caption {
    padding: 126px 0 120px;
  }
}

@media (max-width: 992px) {
  .hero {
    padding-bottom: 125px;
  }
  .nav-right {
    padding-right: 0;
  }
  .nav-item {
    margin: 5px 0;
  }
  .haro-title, .aboutUs-title, .foodQuality-title, .ourFood-title, .bestMeal-title {
    font-size: 35px;
  }
  .hero-paragraph, .aboutUs-paragraph, .foodQuality-paragraph, .ourFood-paragraph, .bestMeal-paragraph {
    font-size: 18px;
    line-height: 25px;
  }
  .btn-hero {
    font-size: 18x;
    padding: 12px 32px;
  }
  .foodQuality-img-1 {
    top: 72px;
    right: 0;
  }
  .foodQuality-img-2 {
    bottom: 10px;
    left: 0;
  }
  .foodQuality-img-3 {
    bottom: -15px;
    right: 0;
  }
  .ourFood-caption {
    padding: 30px 30px;
  }
  .bestMeal-img {
    top: -12px;
    width: 42%;
  }
  .bestMeal-caption {
    padding: 60px 0;
  }
}

@media (max-width: 576px) {
  .foodQuality-caption {
    padding-left: 0px;
    top: 36%;
  }
  .footer-logo {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */